.calcButton {
    font-family: 'Nunito', sans-serif;
    width: 33.33%;
    height: 10vh;
    vertical-align: middle;
    font-size: 1.5em;
    background: rgba(225,98,88,1);
    padding: 0;
    margin: 0;
    border: none;
    color: white;
    outline: none;
}

.calcButton:hover {
    background: #E26E65;
    outline: none;
}

.calcButton:focus {
    outline: none;
    border: 0;
}

.calcButtonSelected {
    background: #DB7C75;
    outline: none;
}