.calcContainer {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: rgba(1,176,219,1);
    color: white;
    font-family: 'Nunito', sans-serif;
}

.calcTitle {
    text-align: center;
    font-size: 3em;
    margin: 0px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
}

.calcBottomText {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 1em;
    width: 100%;
    padding-bottom: 2em;
}

.calc {
    background-color: #e16258;
    border: none;
    width: 50vw;
    height: 50vh;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    outline: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.calcInput {
    width: 100%;
    border: none;
    text-align: center;
    height: 20vh;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}